<h3>Lista de Professores</h3>
<a href="/professores/add" class="btn btn-primary mb-3">Adicionar</a>
<table class="table table-bordered table-striped table-sm">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <% if (professores.length === 0) { %>
            <tr>
                <td colspan="3" class="text-center">Nenhum professor cadastrado.</td>
            </tr>
        <% } else { %>
            <% professores.forEach(professor => { %>
                <tr>
                    <td><%= professor.nome %></td>
                    <td><%= professor.descricao %> </td>
                    <td class="text-end">
                        <a href="#"><i class="bi bi-pencil-fill"></i></a>
                        <a href="#"><i class="bi bi-trash-fill"></i></a>
                    </td>
                </tr>
            <% }) %>
        <% } %>
    </tbody>
</table>