<h3>Lista de Cursos</h3>
<a href="/cursos/add" class="btn btn-primary mb-3">Adicionar</a>
<table class="table table-bordered table-striped table-sm">
    <thead>
        <tr>
            <th>Nome do Curso</th>
            <th>Tempo de Duração</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <% if (cursos.length === 0) { %>
            <tr>
                <td colspan="3" class="text-center">Nenhum curso cadastrado.</td>
            </tr>
        <% } else { %>
            <% cursos.forEach(curso => { %>
                <tr>
                    <td><%= curso.nome %></td>
                    <td><%= curso.descricao %> </td>
                    <td class="text-end">
                        <a href="/cursos/edit?id=<%= curso.id %>" class="me-2"><i class="bi bi-pencil-fill"></i></a>
                        <form action="/cursos/delete" method="POST" style="display:inline;">
                            <input type="hidden" name="id" value="<%= curso.id %>">
                            <button type="submit" class="btn btn-link p-0 m-0" onclick="return confirm('Remover este curso?')"><i class="bi bi-trash-fill text-danger"></i></button>
                        </form>
                    </td>
                </tr>
            <% }) %>
        <% } %>
    </tbody>
</table>