<h3>Listar Cursos</h3>
<a href="/categorias/add" class="btn btn-primary mb-3">Add</a>
<table class="table table-bordered table-striped table-sm">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td>
                <a href="#"><i class="bi bi-pencil-fill"></i></a>
                <a href="#"><i class="bi bi-trash-fill"></i></a>
            </td>
        </tr>
    </tbody>
</table>