<h1>Adicionar Professores</h1> 
<form action="/professores/add" method="POST"> 
    <div class="form-group"> 
        <label for="nome">Professores</label> 
        <input type="text" class="form-control" id="nome" name="nome" required> 
    </div>
    <div class="form-group mt-2">
        <label for="descricao">ID</label>
        <textarea name="descricao" id="descricao" class="form-control" rows="3"></textarea>
      </div>
    <button type="submit" class="btn btn-primary">Add</button> 
</form> 