<footer class="footer mt-auto bg-primary py-3 mt-4">
    <div class="container">
        <span class="text-muted">
            <h3 color="white">Rodapé do projeto</h3>
        </span>
        <img src="/img/discord.png" width="32">
        <img src="/img/github.png" width="32">
        <img src="/img/instagram.png" width="32">
    </div>
</footer>

<style>
    .footer {
        width: 100%;
    }
</style>