<h3>Adicionar Categoria</h3>
<form action="/categorias/add" method="post">
    <div class="form-group">
        <label for="nome">Categoria</label>
        <input type="text" name="nome" id="nome" class="form-control" required placeholder="Informe a categoria">
        <button type="submit" class="btn btn-primary">Adicionar</button>
    </div>
</form>