<h3>Editar Categoria</h3>
<form action="" method="post">
    <div class="form-group">
        <label for="nome">Categoria</label>
        <input type="text" name="nome" id="nome" class="form-control" required placeholder="Informe a categoria">
        <button type="submit" class="btn btn-success">Editar</button>
    </div>
</form>